// Ola.less
.centraliza {
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-right {
  text-align: right;
}
body {
    position: relative;
    overflow-x: hidden;
  }
#logo-xs {
  display: none;
}
#idiomas {
  position: fixed;
  top: 20px;
  right:5px;
  z-index: 2147483650;
  .bandeiras{
    img {
      width: 30px;
      height: auto;
      // border-radius:30px;
      // border: 1px solid white;
      // box-shadow: 1px 1px 2px @white;
    }
  }
}
// FB CHAT
.fb_dialog.fb_dialog_mobile.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in, .fb-customerchat, .fb_customer_chat_bubble_animated_with_badge {
  bottom:90px!important;
  right: 6px!important;
}
.links-sociais {
  // background:rgba(216, 60, 97,.2);
  background:@white;
  padding: 8px 14px 0 0;
  border-radius: 17px;
  position: fixed;
  bottom:5vh;
  left:-25px;
  z-index:1500;
  ul {
    list-style: none;
    li a {
      font-size:21px;

    }
  }
  &.landing {
    ul li a {
      color:@orange;
    }
  }
}
.separador {
  display:none;
}
.btn, .btn:hover, .btn:active, .btn:visited{
  border-radius: 50px;
}
/////////////
// MODAL   //
/////////////
.modal-open .modal {
  background: rgba(29, 98, 137,.7);
  z-index: 2147483648;
}
.modal-header { 
  border-bottom: unset;
  // background: @purple;
  .orangenta;
  color:@white;
  button.close {
    color:@white;
    opacity: 1;
    margin-top: -2px;
    &:hover {
      opacity: .7;
    }
  }
}  
.modal-footer { 
  border-top: unset;
  button {
    background: lighten(@green, 5%);
  }
}  

/////////////
// FORMS //
/////////////
.form-group {
  label {
    color:@gray-darker;
    small {
      font-weight: 300;
    }
  }
}
.form-control{
  color:@gray-darker;
  &:focus {
    border-color: @orange;
    box-shadow: inset 0 1px 1px rgba(85, 83, 83, 0.075), 0 0 8px rgba(71, 13, 78, 0.527);
  }
}

/////////////
// BOTOÕES //
/////////////
a, button, .ola {
  cursor: pointer;
  outline: unset;
}
.btn:focus, .btn:focus-within, .btn:active {
  outline: unset;
}
.seta {  
  position: absolute;
  text-align: center;
  bottom: 5vh;
  left: 0;
  right: 0;   
  a {
    font-size: 21px;
    .anima;
    &:hover {
      font-size:25px;                  
      .anima;
    }
  }
  &.dir {
    right: 5vw;
    bottom: unset;    
    top: 34vh;    
  }
}
.btn-primary{
  font-weight: 700;
  font-size: 21px;
}

.btn-link {
  color:@orange;
  text-decoration: underline;
  .anima;
  &:hover {
    color:@magenta;
    .anima;
  }
}
////////////////////
// MENU NAVEGAÇÃO //
////////////////////  
    .nav-bg {
      background: rgba(216, 60, 97,.2);
      // background: rgba(246, 184, 6,.9);
      // background: rgba(250, 250, 250,.7);
      .anima;
    }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // z-index: 999999;
    img {
      width: 200px;
      height: auto;
      margin: 0 10px;
      // -webkit-filter: drop-shadow(1px 3px 3px @purple);
        // filter: drop-shadow(1px 3px 3px @purple);
    }
  }
  .telefone {    
    font-weight: 900;
    color: @white;       
    position: absolute;
    right:15px;     
    text-shadow: 1px 1px 3px @purple;
  }
  //////////////
  // SECTIONS //
  //////////////
  #home {
    background: url('@{img}/bg-home-orange.jpg') top/cover;
    height: 100vh;
    position: relative;
    z-index:999;
    .titulo {
      background-color:@white;
      // text-shadow: 1px 1px 3px @purple;
      box-shadow: 2px 2px 7px @dblue;
      text-align: left;
      position: absolute;
      padding: 5px 20px 25px;
      border-top-left-radius: 10%;
      border-bottom-right-radius: 10%;
      top:17vh;
      height: auto;
      // top:0;
      // bottom:0;
      left:0;
      right:0;
      h2{
        font-size:21px;
        color: @dblue;        
        font-weight: 700;
      }
      p.lead {
        font-weight: 200;
        font-size:17px;
        // color: #999;
      }    
    }
    .seta {        
      a {
        color:@white;                
      }
    }
    // .logo img {
    //   width: 250px;
    //   height: auto;
    //   position: absolute;
    //   top: 5%;
    //   left: 17%;
    // }
  }
  #redes {
    background: url('@{img}/bg-home-2.jpg') center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    .titulo {
      color:@purple;
      text-shadow: 1px 1px 3px @white;
      text-align: left;
      position: relative;
      top:28vh;
      left:0;
      right:0;
      h2{
        font-size:70px;
      }
      p.lead {
        font-weight: 200;
        font-size:28px;
      }    
    }
    .seta { 
      z-index: 100;
      a {
        color:@white;        
      }
    }
    .circle-purple{
      height: 300px;
      width: 300px;
      background: @purple;
      border-radius:50%;
      position: absolute;
      bottom:80px;
      z-index:30;
      opacity: .9;
    }
    .circle-magenta{
      opacity: .7;
      height: 400px;
      width: 400px;
      background: @magenta;
      border-radius:50%;
      position: absolute;
      bottom:50px;
      right:-50px;
      z-index:40;
    }
    .bar-cherry{
      opacity: .9;
      height: 200px;
      width: 20px;
      background: @cherry;
      border-radius:15px;
      position: absolute;
      bottom:70px;
      right:0px;
      z-index:35;
    }
    .bar-cyan{
      opacity: .9;
      height: 150px;
      width: 15px;
      background: @cyan;
      border-radius:15px;
      position: absolute;
      bottom:320px;
      right:470px;
      z-index:25;
    }
    .bar-white{
      opacity: .9;
      height: 70px;
      width: 7px;
      background: @white;
      border-radius:15px;
      position: absolute;
      bottom:450px;
      right:194px;
      z-index:55;
    }
    .line-cyan{
      opacity: .9;
      height: 2px;
      width: 300px;
      background: @cyan;
      border-radius:15px;
      position: absolute;
      bottom:150px;
      right:300px;
      z-index:55;
    }
    .line-cherry{
      opacity: .9;
      height: 300px;
      width: 2px;
      background: @cherry;
      border-radius:15px;
      position: absolute;
      bottom:550px;
      right:370px;
      z-index:23;
    }
    .grafico{
      display: table-cell;
      vertical-align: bottom;
      height: 100vh;
      position: relative;
    }
    .modelo-1 {      
      // background: url('@{img}/cara-vibra.png') no-repeat;
      // position: relative;
      bottom:0;
      right: 0px;
      position: absolute;
      z-index:60;
      img {        
        // top: 93px;
        height:600px;
        width: auto;
      }
    }
  }
  #conteudo {
    background: url('@{img}/bg-home-3.jpg') center top;    
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;   
    z-index: 105; 
    .titulo {
      color:@cyan;
      text-shadow: 1px 1px 3px @gray;
      text-align: center;
      position: absolute;
      top:12vh;
      left:0;
      right:0;
      z-index: 70;
      h2{
        font-size:70px;
      }
      p.lead {
        font-weight: 200;
        font-size:28px;
      }    
      a.btn {
      }
    }
    .seta { 
      z-index: 100;
      // right:5vw;
      // left:unset;
      a {
        color:@cyan;
      }
    }
    .grafico {
      // display: flex;
      display: table-cell;
      align-items: center;
      justify-content: center;
      vertical-align: bottom;
      height: 100vh;
      position: relative;
      .modelo-2 {      
        // background: url('@{img}/mina-surpresa.png') no-repeat;      
        // background-position: center bottom;
        position: absolute;        
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;        
        // z-index:60;
        // height:450px;
        // min-width: 100%;
        // width: 690px;            
        img {
          // top: 93px;          
          z-index:60;
          height:450px;
          width: auto;
          
        }
      }
    }
  }
  #sites {
    background: url('@{img}/bg-home-4.jpg') center top;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    .titulo, .titulo-xs {
      color:@white;
      text-shadow: 1px 1px 3px @cyan;
      text-align: right;
      position: relative;
      top:28vh;
      left:0;
      right:0;
      z-index: 100;
      h2{
        font-size:60px;
        // white-space: nowrap;
      }
      p.lead {
        font-weight: 200;
        font-size:28px;
      }    
    }
    .titulo-xs {display: none;}
    .seta {
      a {
        color:@white;
      }
    }  
    .grafico {
      display: table-cell;      
      vertical-align: bottom;
      height: 100vh;
      position: relative;
      .modelo-3 {      
        right: 0px;                  
        position: absolute;
        bottom:0;
        img {      
          z-index:60;
          height:608px;
          width: auto;
          
        }      
      }
      .arrow-up-cyan {
        width: 0; 
        height: 0; 
        border-left: 72px solid transparent;
        border-right: 72px solid transparent;        
        border-bottom: 102px solid @cyan;
        position: absolute;
        opacity: .9;
        left:380px;
        top: 450px;
        transform: rotate(-10deg);
      }
      .arrow-down-cyan {
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;        
        border-top: 120px solid @cyan;
        transform: rotate(20deg);
        position: absolute;
        opacity: .9;
        left:400px;
        top: 150px;
      }
      .arrow-up-magenta {
        width: 0; 
        height: 0; 
        border-left: 132px solid transparent;
        border-right: 132px solid transparent;        
        border-bottom: 132px solid @magenta;
        position: absolute;
        opacity: .9;  
        left:-80px;
        top: 120px;
        transform: rotate(10deg);
      }
      .arrow-down-magenta {
        width: 0; 
        height: 0; 
        border-left: 90px solid transparent;
        border-right: 90px solid transparent;        
        border-top: 100px solid @magenta;
        position: absolute;
        opacity: .9;
        left:-60px;
        top: 500px;
        transform: rotate(-10deg);
      }
      .arrow-up-yellow {
        width: 0; 
        height: 0; 
        border-top: 30px solid transparent;
        border-right: 30px solid transparent;        
        border-bottom: 30px solid @yellow;
        right:20px;
        top: 320px;
        transform: rotate(40deg);
        position: absolute;
        // -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        // background: @yellow;
      }
      .arrow-down-yellow {
        width: 0; 
        height: 0; 
        border-left: 17px solid transparent;
        border-bottom: 17px solid transparent;        
        border-top: 17px solid @yellow;
        // -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        // background: @yellow;
        opacity: .9;
        left:-25px;
        top: 350px;
        transform: rotate(55deg);
        position: absolute;
      }
    }
  }
  #consultoria, #consultoria-2, #consultoria-3 {        
    background: @yellow url('@{img}/pattern-2.png') repeat;
    // background-attachment: fixed;    
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;  
    z-index: 150;
    position: relative;
    h2{
      text-shadow: 2px 2px 3px @yellow;
      color: @purple;
      margin-top: 10px;
    }
  }
  #consultoria-2 {
    background: darken(@purple, 5%) url('@{img}/pattern.png') repeat;
    // position: relative;
    z-index: 150;
    // height: 150px;
    .blog {
      // width:770px;

    }
    h2{
      font-size: 21px;
      text-shadow: 2px 2px 3px @purple;
      color:@white;      
    }
    .rss-box-post-blog {
      ul.rss-items {     
        position: relative;
        top:0;
        bottom:0;
        list-style: none;  
        li a {          
          &::before {
            font-family: "Font Awesome 5 Free"; 
            // font-weight: 900; 
            content: '\f0a4\20';
            clear: both;
          }
          text-shadow: 2px 2px 3px @purple;
            color:@yellow;
            text-decoration: underline;
            font-size: 21px;
            &:hover {
              text-decoration: none;
              color:@cyan;
            }
        }  
      }
    }
  }
  #depoimento {
    background: @cyan  url('@{img}/pattern.png') repeat;    
    z-index: 900;
    position: relative;
    #depoimentos {
      padding: 15px 0 30px;
      .fa-chevron-circle-right {
        margin-top:15px;
        color: @white;
        font-size: 28px;
        cursor: pointer;
        &:hover {
          color:@yellow;
        }
      }
    }
    .depoimento {
      color:@white;
      p{
        font-style: italic;
        margin: 15px 0 10px;
      }
      h4 {
        small {
          color:@white;
        }
        // color: @yellow;
        // float: right;
      }
      span {
        // color:@yellow;
        font-size: 17px;
      }            
    }
  }
  #consultoria-3 {    
    background: lighten(@orange,15%) url('@{img}/pattern-2.png') repeat;
    h2 {
      font-size:21px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form {
      display: flex;
    align-items: center;
    justify-content: center;
    }
    &.landing-content {
      background: @yellow url('@{img}/pattern.png') repeat;
    }
  }
  
  // SESSOES TAGS EM COMUM
  #servicos, #portfolio, 
  #contato, #equipe, #landing {
    .card {
      h1 {
        color:@purple;
        text-align: center;
      }
      background:@white;
      padding: 40px;
      box-shadow: 1px 2px 3px @gray;        
    }
    p {
      font-size: 17px;
     
    }
  }

  //////////////
  // SERVIÇOS //
  //////////////
  
  #servicos-header, #portfolio-header, 
  #contato-header, #equipe-header {
    background: url('@{img}/galera.jpg') 55% 84%;
    background-size: cover;
    background-attachment: fixed;
    height: 34vh;
    padding-top: 120px;
    position: relative;
    text-align: center;
      h1{
        font-size:49px;
        color:@white;
        text-shadow: 2px 2px 3px @magenta;
      }         
  }
  #servicos-header {
    background: url('@{img}/meeting.jpg') center bottom;
    background-size: cover;
    background-attachment: fixed;
  }
  #servicos {
    background: url('@{img}/pattern.png') repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 75px 0;  
    i {
      font-size:49px;
      color:@purple;
    }  
    h2 {
      color: @purple;
      font-size:21px;
    }
    p {
      font-size: 14px;
      line-height: 17px;      
      color:@purple;
    }
    #logo {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // min-height: 270px;
      img {
        margin: 25px auto;
      }
    }
    .container div {
      padding: 25px 25px;   
      min-height: 350px;   
      a {
        i {
          font-size:12px;
          color:@white;
        }
      }           
    }
    #mkt-conteudo {
      background: lighten(@cyan, 5%) ;
      border-bottom: 21px solid darken(@cyan, 5%);      
    }
    #sociais {
      background: lighten(@cyan, 10%) ;
      border-bottom: 21px solid darken(@cyan, 3%);
    }
    #seo {
      background: lighten(@cyan, 15%) ;
      border-bottom: 21px solid darken(@cyan, 1.5%);
    }
    #midia {
      background: lighten(@magenta, 5%) ;
      border-bottom: 21px solid darken(@magenta, 15%);
    }
    #websites {
      background: lighten(@magenta, 10%) ;
      border-bottom: 21px solid darken(@magenta, 10%);
    }
    #design {
      background: lighten(@magenta, 15%) ;
      border-bottom: 21px solid darken(@magenta, 5%);
    }
    #comunicacao {
      background: lighten(@orange, 5%) ;
      border-bottom: 21px solid darken(@orange, 5%);
    }
    #inbound {
      background: lighten(@orange, 10%) ;
      border-bottom: 21px solid darken(@orange, 5%);
    }
    #endo {
      background: lighten(@orange, 15%);
      border-bottom: 21px solid darken(@orange, 3%);
    }     
  }

  ///////////////
  // PORTFOLIO //
  ///////////////
  #portfolio-header {
    background: url('@{img}/galera.jpg')  60% -250%;
    background-attachment: fixed;
  }
  #portfolio {
    background: url('@{img}/pattern.png') repeat;
    background-attachment: fixed;    
    padding: 75px 0;     
    h2 {
      margin-top:0px;
      color:@purple;
    } 
    .container.empresas div {
      // padding: 25px 25px;   
      min-height: 190px;   
      display: flex;
      align-items: center;
      justify-content: center; 
      img {
        box-shadow: 1px 2px 3px @gray;                
      }
    }
  }
  #carrossel.container-fluid, .carro-home.container-fluid {
    padding:0;
    height: 100vh;   
    position: relative;
    z-index:999; 
    .seta {        
      a {
        color:@white;                
      }
    }
    .carousel-caption {
      // width: 290px;
      h3, h3 small {
        font-size:49px;
        font-weight: 700;
        // color: @dorange;
      }
      h3 {
        color: @dblue;
        small {
          color:@dorange;
        }
      }
      p{
        font-size: 17px;
        color: @black;
        width: 520px;
      }
      
    }
      .item {
        height: 100vh;            
        &#slide1 {         
            background: url('@{img}/bg-cinza-1.jpg') center/cover no-repeat;        
            // background: @purple ;   
            img {
              position: absolute;
              right:5%;
            }     
            .carousel-caption {
              position: absolute;
              left:5%;
              bottom:25%;
              text-align: left!important;
            }
        }    
        &#slide2 {         
            background: url('@{img}/bg-cinza-2.jpg') center/cover no-repeat;        
            // background: @purple ;    
            img {
              position: absolute;
              left:5%;
            }           
        }    
        &#slide3 {         
            background: url('@{img}/bg-cinza-3.jpg') center/cover no-repeat;        
            // background: @purple ;   
            img {
              position: absolute;
              right:5%;
            }        
        }    
      } 


    .carousel-indicators li {
      
    }
  }
  ///////////////
  // EQUIPE    //
  ///////////////
  #equipe-header {
    background: url('@{img}/galera.jpg') 55% 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  #equipe {
    // background: url('@{img}/pattern.png') repeat;
    background-attachment: fixed;    
    padding: 75px 0;      
    min-height: 80vh;
    .row {
      min-height: 200px;
      .centraliza;
    }
    // .card {
    //   height: auto;
    //   margin: auto 10px 20px;
    //   padding: 30px 50px 50px;
      hr {
        border:1px;
        border-top:1px solid @gray-light!important;
      }
      h1 {
        font-size: 200px;
      }
      h2, h1 {
        color:@purple;
      }
      h3 {
        // min-height: 60px;
      }
      p {
        color:@gray-dark;
        font-weight: 300;
        a {
          font-weight: 500;
        }
      }
    // }  
    #lilian {
      color: @cherry;      
    }
    #mima {
      color: @magenta;      
    }
    #thaise {
      color: @orange;      
    }
    #mimao {
      color: @cyan;
      a:hover {
        color:@cyan;
      }
    }
  }
  ///////////////
  // CONTATO   //
  ///////////////
  #contato-header {
    background: url('@{img}/contato.jpg') 0% -80%;
    
    background-attachment: fixed;
  }
  #contato {
    background: url('@{img}/pattern.png') repeat;
    background-attachment: fixed;    
    padding: 75px 0;  
    height: 100vh;  
    #contatos {
      h3 {
        color:@purple;
      }
      hr {
        border-top: 7px ridge @gray-lighter;
      }
    }
  }
  #contato-resposta {
    background: url('@{img}/contato.jpg') center bottom;
    min-height:100vh;
    .container {
      min-height:100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        font-size:49px;
        color:@white;
        text-shadow: 2px 2px 3px @magenta;
      }         
    }
  }

  
  /////////////////
  //MKT CONTEUDO //
  /////////////////

  .landing-content {
    &#info {
      background: @purple url('@{img}/pattern.png') repeat;      
      .fonte {
        margin-top:-30px;      
        text-align: center;  
        span {
          font-style: italic;   
          font-size:10px;
          color: @white;
           
        }
      }
      .quote {
        // margin: 45px 0 0px;
        color:@yellow;        
        blockquote {
          font-size:21px;
          text-align: center;
          border-left:none;
        }
        i {
          font-size:30px;                      
          margin: 15px;
        }        
      }
    }
    &#content-form {
      min-height: 100vh;
      .degrayde;
        // background: url('@{img}/pattern.png') repeat;      
        h2 {
          margin-top:15vh;
          margin-bottom:5vh;
          color:@purple;
          small {
            color: lighten(@purple, 10%);
          }
        }
        label {
          color:@purple;
        }
    }
    &#content-1 {
      min-height:100vh;      
      position: relative;
      background: url('@{img}/bg-content-1.jpg') center center;
      .titulo {
        position: relative;
        top:10vh;
        left:0;
        text-align: center;
        right:0;
        h2 {
          font-size:43px;          
          color:@white;
          text-shadow: 1px 1px 3px @orange;     
          small {
            font-size:28px;          
            
          }   
        }
      }
      .seta a{
        color: @yellow;
      }
      iframe {
        margin: 20px auto;
      }
    }
    .link-blog a{
      font-size: 17px;
      color: @magenta;
      margin-top:25px;
    }
    &#content-2, &#content-3 {
      min-height:100vh;  
      position: relative;
      .itens {
        text-align: center;
        color:@white;
        margin-top:5vh;
        margin-bottom:5vh;        
           
        i {
          margin-bottom:2vh;
          font-size:82px;
        }
      }    
      .titulo {                
        text-align: center;   
        margin-top:25vh;    
        // position: relative;         
        h2, h3, h1 {
          color:@white;
          font-size:43px;          
          text-shadow: 1px 1px 3px @gray;        
        }
        h2 {
          margin-top:-10px;
        }
        h3, h1 {
          font-size: 28px;
        }
      }
    }
    &#content-2 {
      background: url('@{img}/bg-content-2.jpg') center center;      
      background-attachment: fixed;
    }
    &#content-3 {
      
      background: url('@{img}/bg-content-3.jpg') right center;    
      .seta a{
        color: @yellow;
      }
      .titulo {
        margin-top:23vh;
      }
      .itens {
        margin-top: 10vh;
        margin-bottom: 10vh;
      }      
    }

  }

  ///////////////
  //RESPONSIVO //
  ///////////////

  @media screen and (width: 1366px) and (height:1024px) {
    #equipe-header {
      background-position: 55% 100%;
       background-size: unset;       
    }
    #portfolio-header {
      background: url(../img/galera.jpg) 60% -35%;   
    }
    #contato-header {
      background: url(../img/contato.jpg) 21% -187%;
      background-attachment: unset;
    }
     .circle-purple {      
      bottom:200px;
    }
  }    
  @media screen and (max-width: 1024px) {    
    #consultoria {
      height: 200px;
    }
  #redes {   
    .circle-magenta{      
      right:-30px;        
    }    
  }
    #servicos-header {    
      background-size: unset;    
  }
    #servicos {    
      .container div {
        padding: 25px 25px;   
        min-height: 387px;              
      }
    } 
    #equipe-header {
      background-position: 55% 70%;
       background-size: unset;    
    }
    #portfolio-header {
      background: url(../img/galera.jpg) 60% -52%;   
    }
    #contato-header {
      background: url(../img/contato.jpg) 30% -46%;
      background-attachment: unset;
    }
    
    #redes .circle-purple {      
      right:200px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    #redes .modelo-1 {
      right: 10px;
    }
    #conteudo .grafico .modelo-2 {
      bottom: 292px;
    }
  }

  @media screen and (width: 768px) {
    #consultoria-2, #consultoria-3 {
      position: absolute;
      width: 100vw;  
      // height: 170px;    
      h2 {
        font-size: 17px;        
      }
      .rss-box-post-blog {
        ul.rss-items {               
          li a {          
              font-size: 15px;          
          }  
        }
      }
    }
    #sites .grafico .arrow-down-magenta {
      top:70px;
    }
  }
  @media screen and (max-width: 768px) {
    #consultoria-3 {
      .container {      
        display: block;
        align-items: unset;
        justify-content: unset;
      }
      h2 {font-size: 14px;}
    }
    .navbar-inverse .navbar-nav>li>a {            
      margin: 20px 7px;
    }
    .modal-dialog {
      margin-top:90px;

      
    }    
    #home .titulo {
      top: 14vh;
    }        
    #redes {
      .titulo {
        top:10vh;
        z-index: 500;
      }
      .modelo-1 {    
        right:40px;  
        img {                 
          bottom: 292px;
          right: 0px;
          z-index: 50;
          position: absolute;
          height: 600px;
          width: auto;
        }
      } 
      .circle-magenta{        
        right:0px;        
      }       
    }   
    #conteudo .grafico {
      .modelo-2 {
        bottom:292px;
      }
    }
    #sites {
      .titulo { display: none;}
      .titulo-xs { 
        display: block;
        top:-15vh;
      }
      .grafico {
        height: auto;
        .modelo-3 {      
          bottom:-44vh;  
          right: 25vw;                    
          img {
            width: auto;    
          }    
        }
        .arrow-up-cyan {                  
          top: 180px;
        }
        .arrow-down-cyan {                  
          top: -150px;
        }
        .arrow-up-magenta {                  
          top: -220px;   
        }
        .arrow-down-magenta {          
          top: 100px;     
        }
        .arrow-up-yellow {                  
          top: 0px;
        }
        .arrow-down-yellow {                  
          top: 0px;        
        }
      }
    }
    #servicos-header {           
      background-position: 43% 270%; 
    }
    #servicos {    
      .container div {
        padding: 25px 25px;   
        min-height: 100px;                      
      }
    }   
    #portfolio-header {
      background: url(../img/galera.jpg) 60% -38%;   
    }    
}
// AJUSTE MENU COLLAPSED
  @media screen and (max-width: 680px) {
    .separador{
      display:block;
    }
    .nav-bg {
      background: transparent;
    }
    .links-sociais {
      // background:rgba(216, 60, 97,.2);
      background:@white;
      padding: 10px 8px 0 0;
      position: fixed;
      // top:2vh;
      top:unset;
      // bottom:2vh;
      left:-30px;
      z-index:2147483650;
      ul {
        list-style: none;
        display: inline-block;
        li {
          float: left;
          margin: auto 4px;
          a {
            // font-size:14px;               
          }
        }
      }
    }
    #logo-xs {
      display: block;
      position: fixed;
      background:transparent;
      z-index: 2147483649;
      text-align: center;
      width: 100vw;
      img {
        width: 125px;
        height: auto;
        // -webkit-filter: drop-shadow(1px 3px 3px @purple);
        // filter: drop-shadow(1px 3px 3px @purple);
      }
    }
    .seta {
      bottom: 2vh;
               
    }    
    .navbar {
      margin-bottom:0;
    }
    .navbar-inverse {      
      bottom: 50px;
      top:unset;      
      z-index: 2147483647;
      .navbar-header {              
          width: 0vw;
          position: fixed;
          bottom: 10px;
          right: 10px;      
      }
      .navbar-collapse {            
        width: 100vw;
        .anima;
        bottom: -50px;
        &.in {
          z-index: 2147483647;
          position: relative;
          bottom: -50px;
          background: rgba(216, 60, 97,.9);          
          // z-index:9991!important;
          .anima;
        }
        .navbar-toggle {
          border-color: none;
          background:@purple;
          float: right;
          margin-right: 6vw;          
          margin-bottom: 0vh;          
        }
        .ola {
          display: none;
        }
      }      
    }
    .fb_dialog.fb_dialog_mobile.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in, .fb-customerchat {
      // z-index:9990!important;
    }
    #equipe {      
      min-height: 100vh;
    }
    #consultoria-2 {
      height: 200px;
    }
    #sites {
      background-size: contain;
    }
  }
  @media screen and (max-width: 420px) {
    
    .mostrar1, 
    .mostrar2, 
    .mostrar3 {
      float:right;
    } 
    #home {
      .titulo {
        p.lead{
          font-size:14px;
        }
      }      
    }
    #redes, #sites, #conteudo {
      .titulo {
        h2 {
          font-size:49px;
        }
        p.lead {
          font-size:21px;
        }
      }
    }
    #redes {
      .grafico {
        .circle-purple {
          left: 90px;
          height: 247px;
          width: 247px;
          bottom: 250px;
        }
        .circle-magenta {
          height: 280px;
          width: 280px;
          bottom: 350px;
          right: -182px;
        }
        .bar-cherry {
          bottom: 510px;
          right: -170px;
        }
        .bar-cyan {
          bottom: 450px;
          right: -290px;
        }
        .bar-white {
          bottom: 700px;
          right: -10px;
        }
        .line-cyan {
          bottom: 550px;
          right: 40px;
        }
        .line-cherry {
          bottom: 395px;
          right: -40px;
        }
        .modelo-1 {
          // bottom: 556px;
          // bottom: 65vh;
          img{
            left:0;
            right:0;
            bottom: 122px;
            height: 480px;          
          }
        } 

      }
    }
    #conteudo {
      z-index: 105;
      .grafico {
        .modelo-2 {
          bottom:0;
          img {
            height: 200px;
          }
        }
      }    
    }
    #sites  {
      .titulo-xs {
          display: block;
          top: 10vh;
          h2 {
            font-size: 49px;
          }
          p.lead {
            font-size:21px;
          }
      }
      .grafico {
        // bottom: 0;
        // right: 0;
        // left: 0;
        .modelo-3 {
          bottom: -65vh;
          right: 0;
          left: 0;
          img {
            height: 338px;
          }
        }
        .arrow-down-magenta {
          top: 260px;
        }
        .arrow-up-magenta {
          top: 0px;
        } 
        .arrow-down-cyan {
          top: 30px;
          left: 100px;
      }        
        .arrow-up-cyan {
          left: 178px;
        }
        .arrow-down-yellow {
          left: 285px;
          top:100px;
        }
        .arrow-up-yellow {          
          right:-10px;
        }
      }
    }
    
    #servicos-header {    
      background-size: unset;   
      background-position: 43% 130%; 
    }
    #contato-header {
      background: url(../img/contato.jpg) 41% -167%;
     
    }
    #consultoria-2 {      
      h2{
        font-size: 17px;        
      }
      .rss-box-post-blog {
        ul.rss-items {          
          padding: 0;     
          li a {font-size: 17px;}
        }
      }
    }  
    #servicos-header {
      &.landing {
        h1 {
          font-size: 28px;
        }
      }
    }      
    #contato .card, #equipe .card, #landing .card, #portfolio .card, #servicos .card {
      padding: 10px;
    }
    .container {
      padding-left:3px;
      padding-right:3px;
    }
    .btn-primary {
      font-size:14px;
    }
    .landing-content {
      &#content-form {  
        padding-bottom: 50px;
        min-height: 100vh;        
        #form {
          h2 {        
            // margin-top:10vh;
            // margin-bottom:5vh;            
          }          
        }
      }
      &#content-1, &#content-2, &#content-3 { 
        background-size:cover;        
        padding-bottom: 50px;
        .itens div {
          margin-top: 40px;
        }      
        .titulo {          
          top:20vh;
          h1, h3 {
            font-size: 28px
          }
          h2 {
            font-size: 34px
            
          }
        }
        iframe {
          width: 294px!important;
          height: auto;
        }
      }
      &#content-3 {
        background: url('@{img}/bg-content-3.jpg') center center;    
      }
    }
    #equipe {
      .row {
        display: unset;
        h1 {
          font-size: 56px;
          text-align: center;
          display: none;
        }
      }
    }
  }
  
  @media screen and (max-width: 359px) {
    #home .titulo {
      top: 14vh;
      p.lead {
       font-size: 14px;
     }
    }
    #servicos-header, #portfolio-header, 
  #contato-header, #equipe-header {    
    padding-top: 90px;
  }
    #redes {
      .titulo {

        h2{
          font-size: 43px;
        }
        p.lead {

          font-size: 19px;
        }
      }
      .grafico{
        bottom:-120px;
       .circle-purple {
          left: 70px;
          height: 217px;
          width: 217px;
          bottom: 380px;
      }
       .circle-magenta {
          height: 210px;
          width: 210px;
          bottom: 390px;
          right: -122px;
        }
       .bar-cherry {
          bottom: 430px;
          right: 30px;
        }
        .bar-cyan {
          bottom: 420px;
          right: -240px;
        }
        .line-cherry {
          bottom: 425px;
          right: 10px;
        }
        .line-cyan {          
          display: none;
      }
        .modelo-1 img {
          bottom: 201px;
          height: 410px;
          right: 0;
          left: 16px;
        }
      }
    }
    #conteudo .grafico .modelo-2 img {
      height: 168px;
    }
    
    #sites {
      .titulo-xs {
        h2 {
          font-size:43px;
        }
      }
      .grafico {
       .modelo-3 {
          bottom: -48vh;
          right: 0;
          left: 0;
          img {
            height: 250px;
          }
        }
        .arrow-up-cyan {        
          border-left: 42px solid transparent;
          border-right: 42px solid transparent;
          border-bottom: 72px solid #20b8ce;              
           left: 130px;
          top: 150px;
        }
        .arrow-down-cyan {
          border-left: 60px solid transparent;
          left: 100px;
        }
        .arrow-down-yellow {
          left: 235px;
        }
       .arrow-down-magenta {
          top: -100px;
        }
      }
    }
    #equipe {      
      min-height: 130vh;
    }    
  }
  @media screen and (min-height:1025px) {
    #redes .modelo-1 img {
      height: 920px;
      width: auto;
    }
    #conteudo .grafico .modelo-2 img {
    
      height: 610px;
      width: auto;
    }
    #sites .grafico .modelo-3 img {
    
      height: 878px;
      width: auto;
    }
    #home .titulo {
      h2 {
        font-size: 49px;      
      }
      p.lead {
        font-weight: 200;
        font-size: 21px;
      }
    }
    #conteudo {
      .titulo {
        top: 17vh;
         h2 {
          font-size: 100px;
        }
        p.lead {
          font-weight: 200;
          font-size: 58px;
        }
      }
  }
  @media screen and (min-height:1280px) {
    #redes .modelo-1 img {
      height: 1060px;
      width: auto;
    }
      .grafico .modelo-2 img {
        z-index: 60;
        height: 640px;
        width: auto;
      }
    }
    #sites .grafico .modelo-3 img {
      z-index: 60;
      height: 988px;
      width: auto;
    }
  }

  // BLOCK LANDSCAPE
  @media screen and (height: 320px) and (max-height:360px) and (max-width: 812px) and (orientation: landscape) {
    #home .titulo {
      top:14vh;
    }
    #sites .titulo-xs, #redes .titulo, #conteudo .titulo {
      display: block;
      top: 13vh;
      h2 {
        font-size: 34px;
      }      
      p.lead {
        font-size: 21px;
      }
    }
    #sites .titulo-xs {
      top:13vh;
      text-align: left;
    }
    .modal-open .modal {
      z-index: 9999;
    }
    #redes .titulo button, #conteudo .titulo button, #sites .titulo-xs button {
      z-index: 9901;
    }
    .navbar-inverse, .navbar-header {
      bottom: 0px;      
      z-index: 9900;      
      .navbar-collapse {            
        &.in {          
          z-index: 9990;
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {    
    #redes .grafico, #conteudo .grafico,
    #sites .grafico {
      display: none;
    }
    #sites .titulo { 
      display: none;
    }
    #sites .titulo-xs {
      display: block;
      // top: 3vh;
    }
  }
  